*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	height:100vh;
	background: url("./images/pexels-sebastian-voortman-189349.jpg") center center;
	background-repeat: no-repeat;
 	background-size: auto;
}

